div.container {
  width: 800px;
  height: 500px;
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
}

div.heart {
  display: absolute;
  margin-top: auto;
  top: 50%;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: red;
  animation-name: throb;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  word-wrap: break-word;
  outline:none;
  /*disable highlighting */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  z-index: -1;
}

@-webkit-keyframes throb {
  0%   { transform: scale(0.9); }
  100% { transform: scale(1.2); }
}
@-moz-keyframes throb {}
  0%   { transform: scale(0.9); }
  100% { transform: scale(1.2); }
}
@-o-keyframes throb {
  0%   { transform: scale(0.9); }
  100% { transform: scale(1.2); }
}
@keyframes throb {
  0%   { transform: scale(0.9); }
  100% { transform: scale(1.2); }
}

div.scoreboard {
  width: 500px;
  height: auto;
  color: red;
  margin: auto;
  word-wrap: break-word;
  outline: none;
  /*disable highlighting */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

img {
  position: absolute;
  opacity: 0.4;
  transition: 100ms all ease-in;
  outline:none;
  /*disable highlighting */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

img:hover {
  opacity: 1.0;
  transform: scale(1.2);
  outline:none;
}
