div#player {
  margin: auto;
  position: relative;
  padding: 1px 0 1px 0;
  border: 1px solid silver;
}

video#player {
  position: relative;
}

div#controls {
  display: none;
}

div#controls.visible {
  padding: 1px;
  height: 55px;
  display: inline;
  flex: 2;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  left: 0;
  opacity: 1.0;
  background-color: rgba(212, 213, 215, 0.7);
}

div#buttonsSliders {
  display: flex;
  flex-flow: row nowrap
  padding: 10px;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

div#buttonsSliders span {
  flex: 0 1 auto;
  border: 1px solid black;
}

div#progressBar {
  height: 20px;
}

span {
  vertical-align: middle;
}

span#videoTime {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  color: black;
}

input {
  display: inline-block;
  position: relative;
  outline: none;
}

label {
  display: inline;
  font-weight: 100;
  font-size: 14px;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

span#volumeSlider {
  display:none;
}

span#volumeImg {
  flex: 0;
  margin: 0;
}

input#volume {
  width: 100px;
  height: 10px;
  display: none;
}

input#volume.visible {
  display: inline;
}

img#volume {
vertical-align: middle;
}

input#rate {
  width: 50px;
  height: 10px;
}
