div.player {
  margin: auto;
  padding: 1px;
  border: 1px solid black;
}

div.controls {
  padding: 1px;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.controls div {
  justify-content: center;
  flex: 0 1 auto;
  height: 10px;
}

div#progressBar {
  height: 20px;
}

input {
  display: inline-block;
  position: relative;
  outline: none;
}

label {
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 12px;
  display: inline;
}
