div.wrapper {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 40px;
  width: 600px;
  margin: -50px auto 20 auto;
  padding: 10px;
}

div.header {
  margin: 0 0 -40px 0;
  padding: 5px;
}

h1 {
  letter-spacing: 20px;
}

ul {
  text-align: justify;
  border: 1px solid black;
  padding: 10px;
  margin: -20px;
}

li {
  list-style-type: square;
  transition: all 120ms ease-in;
}

li:hover {
  font-size: 44px;
  background-color: rgba(255, 0, 0, 0.5);
}
